<% if (!isFound) { %>
    <div class="alert alert-danger text-center" role="alert">
            <p class="mb-2"><%= message%></p>
            <a href="/recuriter/postjob" class="btn btn-primary btn-sm">Post a job </a>
        </div>
<% } else {%>
    <div class="container-fluid  mt-5">
        <h2 class="text-center mb-4">Applicants for job Id : <%= jobId %></h2>
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead class="table-dark">
                    <tr>
                        <th>UserName</th>
                        <th>Email</th>
                        <th>Resume</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% users.forEach(user => { %>
                        <tr>
                                <td> <%= user.username %></td>
                                <td><%= user.email %></td>
                                <td>
                                   <a href="/ResumesCollection/<%= user.resume %>" id="resume-link" target="_blank">
                                             <%= user.resume %>
                                   </a>
                                   </td>
                               <td > 
                                    <% if(user.status === 'A') {%>
                                         <span class="badge bg-success p-2">Accepted</span>
                                    <% } else if(user.status === 'R') {%>
                                        <span class="badge bg-danger p-2">Rejected</span>
                                    <% } else {%>
                                        <form method="post" action="/recuriter/applicant/action" id="appliedAction" style="display: inline-block;" onsubmit="return setActionType(event)">
                                                <input type="hidden" value="<%= jobId %>" id="jobId" name="jobId">
                                                <input type="hidden" value="<%= user._id %>" id="userId" name="userId">
                                                <input type="hidden" id="statusType" name="statusType" value="">

                                                <!-- Accept Button -->
                                                <button type="submit" class="btn btn-sm" onclick="setActionTypeValue('A')">
                                                    <i class="fas fa-check  fs-5 text-success"></i>
                                                </button>

                                                <!-- Reject Button -->
                                                <button type="submit" class="btn btn-sm" onclick="setActionTypeValue('R')">
                                                    <i class="fas fa-times fs-5 text-danger"></i>
                                                </button>
                                        </form>
                                    <% } %>
                                </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
<%}%>

<script>
    let actionType = '';

    function setActionTypeValue(type) {
        actionType = type;
    }

    function setActionType(event) {
        if (!actionType) {
            event.preventDefault(); // Prevent submission if no action type is set
            return false;
        }
        document.getElementById('statusType').value = actionType;
        return true; // Allow submission
    }

</script>
